* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Arial', 'Helvetica', 'sans-serif';
  color: #121214;
}

button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
  transition-property: opacity, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  &:hover {
    opacity: 0.7;
  }
}
